.xtendButton {
  background: #e800e9;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 0 rgba(1, 65, 255, 0.4);
  animation: pulse 2s infinite;
}

.knopSecondary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #779bef !important;
  --bs-btn-border-color: #779bef !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #62b1ed !important;
  --bs-btn-hover-border-color: #62b1ed !important;
}

.knopPrimary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #a66cf2 !important;
  --bs-btn-border-color: #a66cf2 !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #c150f3 !important;
  --bs-btn-hover-border-color: #c150f3 !important;
}

.knopSize {
  --bs-btn-padding-x: 0.75rem !important;
  --bs-btn-padding-y: 0.375rem !important;
}

.linkText {
  color: #a66cf2;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 0 rgba(1, 65, 255, 0.4);
  animation: pulse 2s infinite;
}

.customSelect {
  accent-color: #a66cf2;
}
