.icon {
  cursor: pointer;
}

.icon:hover {
  color: #a66cf2; /* Set the color you want on hover */
}

.monthContainer {
  min-width: 200px; /* You can adjust this value based on your design */
  text-align: center;
}
