.icon {
  cursor: pointer;
}

.icon:hover {
  color: #a66cf2;
}

.monthContainer {
  min-width: 200px;
  text-align: center;
}

.customSelect {
  accent-color: #a66cf2;
}

.statusError {
  background: #ff00003b;
}

.statusSuccess {
  background: #282828;
}

.statusPending {
  background: #ffffff;
}
