.buttonPrimary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a66cf2;
  --bs-btn-border-color: #a66cf2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c150f3;
  --bs-btn-hover-border-color: #c150f3;
}

.buttonSecondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #779bef;
  --bs-btn-border-color: #779bef;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #62b1ed;
  --bs-btn-hover-border-color: #62b1ed;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: #a66cf2; /* Set the color you want on hover */
}

.customAccordion {
  --bs-accordion-active-bg: #c7a3f6;
  --bs-accordion-active-color: #fff;
  --bs-accordion-body-bg: #fff;
  --bs-accordion-btn-focus-box-shadow: none;
}
