.knopPrimary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a66cf2;
  --bs-btn-border-color: #a66cf2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c150f3;
  --bs-btn-hover-border-color: #c150f3;
}

.succesText {
  color: green;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.customText {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.warningText {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
