.knop {
    background-color: #E800E9;
    color: white;
    width: 40%;
    align-self: center;
}

.eromheen .knop {
    width: 100%;
}

.vorm, .laber {
    width: 100%;
}

.invoer {
    border-style: solid;
    border-color: #E800E9;
    width: 100%;
}

.selectContainer .bootstrap-select {
    border-style: solid;
    border-color: #E800E9;
    width: 100%;
}