.customList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.customList input[type="radio"] {
  --bs-check-input-checked-color: #e800e9;
}

.knop {
  --bs-btn-color: #fff;
  --bs-btn-bg: #e800e9;
  --bs-btn-border-color: #e800e9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #e262e2;
  --bs-btn-hover-border-color: #e800e9;
}
