.customList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.warningText {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.customRadio {
  accent-color: #a66cf2;
}

.knopSecondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #779bef;
  --bs-btn-border-color: #779bef;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #62b1ed;
  --bs-btn-hover-border-color: #62b1ed;
}

.knopPrimary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a66cf2;
  --bs-btn-border-color: #a66cf2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c150f3;
  --bs-btn-hover-border-color: #c150f3;
}
