.container {
  background: white;
  width: 540px;
  height: 420px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  color: #3dbb3d;
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.debugBorder {
  border: 2px;
  border-style: dashed;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonNav {
  cursor: pointer;
  color: black;
}

.buttonNav:focus,
.buttonNav:active,
.buttonNav:hover {
  color: #8657c3;
}

.currentPage {
  color: black;
  cursor: default;
}

.currentPage:hover {
  color: #8657c3;
}

.customSelect {
  accent-color: #a66cf2;
}

.buttonPrimary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a66cf2;
  --bs-btn-border-color: #a66cf2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c150f3;
  --bs-btn-hover-border-color: #c150f3;
}
