.buttonPrimary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c7a3f6;
  --bs-btn-border-color: #c7a3f6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c150f3;
  --bs-btn-hover-border-color: #c150f3;
}

.spinner {
  color: #a66cf2;
}
